{{> header}}
<div class="offer-details">
    <h1>{{pair.name}}</h1>
    <div class="info">
        <img src="{{pair.shoesURL}}" alt="">
        <div class="description">{{pair.description}}
            <br>
            <br>
            <p>Buyers: {{pair.buyers.length}}</p>
            <br>
            <p class="price">{{pair.price}}</p>
        </div>
    </div>
    <div class="actions">
        {{#if isOwner}}
        <a href="#/edit/{{pair.objectId}}">Edit</a>
        <a href="#/delete/{{pair.objectId}}">Delete</a>
        {{else}}
            {{#unless isBought}}
            <a href="#/buy/{{pair.objectId}}">Buy</a>
            {{else}}
            <span>You bought it</span>
            {{/unless}}
        {{/if}}
    </div>
</div>
{{> footer}}