{{> header}}
<h1>Edit Offer</h1>
<p class="message"></p>
{{#with pair}}
<form action="#/edit/{{objectId}}" method="POST">
    <div>
        <input type="text" placeholder="Name..." name="name" value="{{name}}">
    </div>
    <div>
        <input type="text" placeholder="Price..." name="price" value="{{price}}">
    </div>
    <div>
        <input type="text" placeholder="Image url..." name="shoesURL" value="{{shoesURL}}">
    </div>
    <div>
        <textarea placeholder="Give us some description about this offer..."
            name="description">{{description}}</textarea>
    </div>
    <div>
        <input type="text" placeholder="Brand..." name="brand" value="{{brand}}">
    </div>
    <div>
        <button>Edit</button>
    </div>
</form>
{{/with}}
{{> footer}}